/*Connecting fonts*/
@import url(https://fonts.googleapis.com/css?family=Montserrat:600,700&display=swap);
/*zeroing*/
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    bottom: 0;
    box-sizing: border-box;
}
html,
body {
    height: 100%;
    line-height: 1;
}
a {
    text-decoration: none;
    color: inherit;
}
ul,
ol,
li {
    list-style: none;
}
img {
    vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}
button,
input {
    font-weight: inherit;
    font-size: inherit;
    color: inherit;
    font-family: inherit;
}
button {
    cursor: pointer;
    background-color: inherit;
    border: none;
}
/*Default styles*/
body {
    background-color: #000;
    font-family: "Montserrat";
    color: #fff;
    font-size: 20px;
    font-weight: 600;
}
.wrapper {
    min-height: 100%;
    display: flex;
    overflow-wrap: clip;
    flex-direction: column;
}
/*page*/
.page {
    flex: 1 1 auto;
}
.page__main {
}
/*Adaptive settings------------------*/
[class*="__container"] {
    max-width: 1300px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
/*header start*/
.header {
    width: 100%;
    padding-top: 90px;
}
.header__container {
    display: flex;
    column-gap: 10px;
    row-gap: 20px;
    justify-content: space-between;
}
.header__content {
    display: flex;
    align-items: center;
    column-gap: 15px;
}
.header__logo {
}
.header__title {
}
.header__menu {
    max-width: 100%;
}
.menu {
}
.menu__body {
}
.menu__list {
    display: flex;
    column-gap: 25px;
}
.menu__item {
}
.menu__link {
    display: block;
    width: 50px;
    height: 50px;
    padding: 10px;
    border-radius: 5px;
}
.blue {
    background: #1BAAFB;;
}
.pink {
    background: #FB1B86;
}
.grey {
    background: #C4C4C4;
}
@media (max-width: 767.98px) {
    .header {
        padding-top: 50px;
    }
}
@media (max-width: 476.98px) {
    .header__logo img {
        width: 40px;
    }
    .header__title {
        font-size: 18px;
    }
    .header__container {
        flex-direction: column;
    }
    .menu__body {
        display: flex;
        justify-content: center;
    }
    .menu__list {
        gap: 50px;
    }
    .menu__item {
        width: 30px;
        height: 30px;
    }
}
/*header end*/

/*main start*/

.main {
    padding-top: 100px;
    padding-bottom: 100px;
}
.main__container {
    display: flex;
}
.main__content {
}
.main__title {
    font-size: 50px;
    font-weight: 700;
    letter-spacing: 0.5px;
}
.main__title:not(:last-child) {
    margin-bottom: 50px;
}
.main__text {
    color: rgba(255, 255, 255, 0.50);
    font-size: 25px;
    font-weight: 600;
}
.main__text:not(:last-child) {
    margin-bottom: 100px;
}
.main__actions {
}
.main__buttons {
    display: flex;
    text-align: center;
    gap: 50px;
}
.main__button {
    line-height: 54px;
    align-items: center;
    border-radius: 5px;
}
.main__blue {
    background: #041DFF;
    width: 186px;
    height: 54px;
}
.main__green {
    background: #1AD391;
    width: 208px;
    height: 54px;
}
.main__pink {
    background: #FF007A;
    width: 171px;
    height: 54px;
}
.main__images {
    margin-top: -60px;
    align-self: flex-end;
}
.main__images img {
    max-width: 100%;
}
@media (max-width: 991.98px) {
    .main {
        padding-top: 70px;
        padding-bottom: 70px;
    }
    .main__container {
        flex-direction: column;
    }
    .main__title {
        font-size: 40px;
    }
    .main__title:not(:last-child) {
        margin-bottom: 40px;
    }
    .main__text {
        font-size: 20px;
    }
    .main__text:not(:last-child) {
        margin-bottom: 50px;
    }
    .main__images {
        margin-top: 0px;
        align-self: center;
    }
    .main__buttons {
        max-width: 100%;
        justify-content: center;
    }
    .main__button {
        font-size: 18px;
    }
}
@media (max-width: 479.98px) {
    .main {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .main__button {
        font-size: 16px;
    }
    .main__title {
        font-size: 30px;
    }
    .main__title:not(:last-child) {
        margin-bottom: 20px;
    }
    .main__text {
        font-size: 16px;
    }
    .main__text:not(:last-child) {
        margin-bottom: 20px;
    }
}
@media (max-width: 420px) {
    .main__button {
        font-size: 14px;
    }
}
/*main end*/
