
/*Connecting fonts*/
@import url(https://fonts.googleapis.com/css?family=Montserrat:600,700&display=swap);
/*zeroing*/
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    bottom: 0;
    box-sizing: border-box;
}
html,
body {
    height: 100%;
    line-height: 1;
}
a {
    text-decoration: none;
    color: inherit;
}
ul,
ol,
li {
    list-style: none;
}
img {
    vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}
button,
input {
    font-weight: inherit;
    font-size: inherit;
    color: inherit;
    font-family: inherit;
}
button {
    cursor: pointer;
    background-color: inherit;
    border: none;
}
/*Default styles*/
body {
    background-color: #000;
    font-family: "Montserrat";
    color: #fff;
    font-size: 20px;
    font-weight: 600;
}
.wrapper {
    min-height: 100%;
    overflow: clip;
    display: flex;
    flex-direction: column;
}
/*Adaptive settings------------------*/
[class*="__container"] {
    max-width: 1300px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
/*Header----------------------------*/
.header {
}
.header__container {
    display: flex;
    padding-top: 96px;
    column-gap: 10px;
}
.header__content {
    display: flex;
    align-items: center;
    column-gap: 15px;
}
.header__logo {
}
.header__title {
}
.header__menu {
    margin-left: auto;
}
.menu {
}
.header__item {
}
.menu__list {
}
.menu__item {
    display: flex;
    column-gap: 25px;
}
.menu__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 5px;
}
.blue {
    background-color: #1BAAFB;
}
.pink {
    background-color: #FB1B86;
}
.grey {
    background-color: #C4C4C4;
}