/*Connecting fonts*/
@import url(https://fonts.googleapis.com/css?family=Montserrat:600,700&display=swap);
/*zeroing*/
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    bottom: 0;
    box-sizing: border-box;
}
html,
body {
    height: 100%;
    line-height: 1;
}
a {
    text-decoration: none;
    color: inherit;
}
ul,
ol,
li {
    list-style: none;
}
img {
    vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}
button,
input {
    font-weight: inherit;
    font-size: inherit;
    color: inherit;
    font-family: inherit;
}
button {
    cursor: pointer;
    background-color: inherit;
    border: none;
}
/*Default styles*/
body {
    background-color: #000;
    font-family: "Montserrat";
    color: #fff;
    font-size: 20px;
    font-weight: 600;
}
.wrapper {
    min-height: 100%;
    display: flex;
    overflow-wrap: clip;
    flex-direction: column;
}
/*page*/
.page {
    flex: 1 1 auto;
}
.page__main {
}
.page__trade {
}
.page__about {
}
.page__personal {
}
.page__token {
}
.page__bonus {
}
/*Adaptive settings------------------*/
[class*="__container"] {
    max-width: 1300px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
/*header start*/
.header {
    position: relative;
    z-index: 2;
    position: sticky;
    top: 0;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 50px;
}
.header__container {
    display: flex;
    column-gap: 10px;
    row-gap: 20px;
    justify-content: space-between;
}
.header__content {
    display: flex;
    align-items: center;
    column-gap: 15px;
    cursor: pointer;
}
.header__logo {
}
.header__title {
}
.header__menu {
    max-width: 100%;
}
.menu {
}
.menu__body {
}
.menu__list {
    display: flex;
    column-gap: 25px;
}
.menu__item {
}
.menu__link {
    display: block;
    width: 50px;
    height: 50px;
    padding: 10px;
    border-radius: 5px;
}
.menu__link:hover {
    transform: scale(0.9);
    transition: all 0.3s ease 0s;
}
.menu__link:not(:hover) {
    transition: all 0.5s ease 0s;
}
.blue {
    background: #1BAAFB;;
}
.pink {
    background: #FB1B86;
}
.grey {
    background: #C4C4C4;
}
@media (max-width: 767.98px) {
    .header {
        padding-top: 50px;
    }
}
@media (max-width: 476.98px) {
    .header__logo img {
        width: 40px;
    }
    .header__title {
        font-size: 18px;
    }
    .header__container {
        flex-direction: column;
    }
    .menu__body {
        display: flex;
        justify-content: center;
    }
    .menu__list {
        gap: 50px;
    }
    .menu__item {
        width: 30px;
        height: 30px;
    }
}
/*header end*/

/*main start*/
.main {
    padding-top: 60px;
    padding-bottom: 100px;
}
.main__container {
    display: flex;
}
.main__content {
}
.main__title {
    font-size: 50px;
    font-weight: 700;
    letter-spacing: 0.5px;
}
.main__title:not(:last-child) {
    margin-bottom: 50px;
}
.main__text {
    color: rgba(255, 255, 255, 0.50);
    font-size: 25px;
    font-weight: 600;
}
.main__text:not(:last-child) {
    margin-bottom: 100px;
}
.main__actions {
}
.main__buttons {
    display: flex;
    text-align: center;
    gap: 50px;
}
.main__button {
    display: grid;
    place-content: center;
    border-radius: 5px;
    padding: 5px;
}
.main__button:hover {
    transform: scale(0.9);
    transition: all 0.3s ease 0s;
}
.main__button:not(:hover) {
    transition: all 0.5s ease 0s;
}
.main__blue {
    background: #041DFF;
    width: 186px;
    height: 54px;
}
.main__blue:hover {
    box-shadow: 0px 0px 25px #041DFF;
}
.main__green {
    background: #1AD391;
    width: 208px;
    height: 54px;
}
.main__green:hover {
    box-shadow: 0px 0px 25px #1AD391;
}
.main__pink {
    background: #FF007A;
    width: 171px;
    height: 54px;
}
.main__pink:hover {
    box-shadow: 0px 0px 25px #FF007A;
}
.main__images {
    margin-top: -60px;
    align-self: flex-end;
}
.main__images img {
    max-width: 100%;
}
@media (max-width: 991.98px) {
    .main {
        padding-top: 70px;
        padding-bottom: 70px;
    }
    .main__container {
        flex-direction: column;
    }
    .main__title {
        font-size: 40px;
    }
    .main__title:not(:last-child) {
        margin-bottom: 40px;
    }
    .main__text {
        font-size: 20px;
    }
    .main__text:not(:last-child) {
        margin-bottom: 50px;
    }
    .main__images {
        margin-top: 0px;
        align-self: center;
    }
    .main__buttons {
        max-width: 100%;
        justify-content: center;
    }
    .main__button {
        font-size: 18px;
    }
}
@media (max-width: 479.98px) {
    .main {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .main__button {
        font-size: 16px;
    }
    .main__title {
        font-size: 30px;
    }
    .main__title:not(:last-child) {
        margin-bottom: 20px;
    }
    .main__text {
        font-size: 16px;
    }
    .main__text:not(:last-child) {
        margin-bottom: 20px;
    }
}
@media (max-width: 420px) {
    .main__button {
        font-size: 14px;
    }
}
/*main end*/

/*trade start*/
.trade {
    padding-top: 100px;
    padding-bottom: 100px;
}
.trade__container {
}
.trade__image {
}
.trade__image img {
    max-width: 100%;
}
@media (max-width: 991.98px) {
    .trade {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}
@media (max-width: 479.98px) {
    .trade {
        padding-top: 0px;
        padding-bottom: 0px;
    }
}
/*trade end*/

/*about start*/
.about {
    padding-top: 100px;
    padding-bottom: 100px;
}
.about__container {
}
.about__title {
    font-size: 50px;
    font-weight: 700;
    letter-spacing: 0.5;
}
.about__title:not(:last-child) {
    margin-bottom: 80px;
}
.about__content {
}
.about__content:not(:last-child) {
    margin-bottom: 35px;
}
.about__items {
    display: flex;
    gap: 30px;
}
.about__item {
    padding: 50px 70px;
    width: 100%;
    border-radius: 32px;
    background: #FFF;
}
.about-item__img {
}
.about-item__img img {
    max-width: 100%;
}
.about-item__img:not(:last-child) {
    margin-bottom: 35px;
}
.about-item__text {
    max-width: 100%;
    max-height: 100%;
    color: #000;
    font-size: 35px;
    font-weight: 700;
    line-height: 1.42; /* 50/35 */
    letter-spacing: 0.35px;
}
@media (max-width: 991.98px) {
    .about {
        padding-top: 70px;
        padding-bottom: 70px;
    }
    .about__content {
        display: flex;
        justify-content: center;
    }
    .about__title {
        font-size: 40px;
    }
    .about__title:not(:last-child) {
        margin-bottom: 40px;
    }
    .about-item__img:not(:last-child) {
        margin-bottom: 25px;
    }
    .about-item__text {
        font-size: 30px;
    }
    .about__items {
        flex-direction: column;
    }
    .about__item {
        padding: 30px 50px;
    }
}
@media (max-width: 479.98px) {
    .about {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .about__title {
        font-size: 30px;
    }
    .about-item__img:not(:last-child) {
        margin-bottom: 15px;
    }
    .about-item__text {
        font-size: 20px;
    }
    .about__item {
        padding: 18px 20px;
    }
    .about-item__img {
        width: 70px;
    }
}
/*about end*/

/*personal start*/

.personal {
    padding-top: 100px;
    padding-bottom: 100px;
}
.personal__container {
}
.personal__title {
    font-size: 50px;
    font-weight: 700;
    letter-spacing: 0.5;
    margin-bottom: 80px;
}
.personal__column {
    width: 100%;
    margin-bottom: 70px;
}
.personal__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 35px;
}
.personal__item {
    padding: 50px;
    border-radius: 32px;
    background: #FFF;
}
.item__personal {
}
.item-personal__image {
    max-width: 553px;
}
.item-personal__image img {
    width: 100%;
}
.item-personal__image:not(:last-child) {
    margin-bottom: 50px;
}
.item-personal__main {
}
.item-personal__title {
    font: 35px;
    font-weight: 700;
    color: #000;
    line-height: 1.42; /* 50/35 */
    letter-spacing: 0.35px;
}
.item-personal__title:not(:last-child) {
    margin-bottom: 20px;
}
.item-personal__text {
    color: rgba(0, 0, 0, 0.50);
    font-size: 35px;
    font-weight: 600;
    line-height: 1.42; /* 50/35 */
    letter-spacing: 0.35px;
}
@media (max-width:991.98px) {
    .personal {
        padding-top: 70px;
        padding-bottom: 70px;
    }
    .personal__items {
        grid-template-columns: auto;
    }
    .personal__title {
        font-size: 40px;
        margin-bottom: 50px;
    }
    .personal__column {
        margin-bottom: 35px;
    }
    .item-personal__text {
        font-size: 30px;
    }
}
@media (max-width: 767.98px) {
    .personal {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .personal__item {
        padding: 30px;
    }
    .personal__title {
        margin-bottom: 30px;
    }
    .item-personal__image:not(:last-child) {
        margin-bottom: 30px;
    }
}
@media (max-width: 479.98px) {
    .personal {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .personal__item {
        padding: 20px;
    }
    .personal__title {
        font-size: 30px;
        margin-bottom: 10px;
    }
    .item-personal__text {
        font-size: 20px;
    }
    .item-personal__image:not(:last-child) {
        margin-bottom: 30px;
    }
    .item-personal__title:not(:last-child) {
        margin-bottom: 10px;
    }
}
/*personal end*/

/*token start*/
.token {
    padding-top: 236px;
    padding-bottom: 200px;
}
.token__container {
}
.token__title {
    color: #FFF;
    font-size: 50px;
    font-weight: 700;
    letter-spacing: 0.5px;
}
.token__title:not(:last-child) {
    margin-bottom: 80px;
}
.token__main {
}
.main-token {
    text-align: center;
    color: #FFF;
    font-size: 35px;
    font-weight: 600;
    line-height: 1.42; /* 50/35 */
    letter-spacing: 0.35px;
}
.main-token_01 {
    border-radius: 25px 25px 0px 0px;
    padding: 20px;
    max-width: 1300px;
    height: 90px;
    background: #0B004C;
}
.main-token__02 {
    max-width: 1300px;
    padding: 125px 20px 125px 20px;
    height: 300px;
    background: #040CC0;
}
.main-token__03 {
    max-width: 1300px;
    padding: 35px 20px 35px 20px;
    height: 120px;
    background: #120080;
}
.main-token__04 {
    border-radius: 0px 0px 25px 25px;
    padding: 20px;
    max-width: 1300px;
    height: 90px;
    background: #0B004C;
}
@media (max-width: 991.98px) {
    .token {
        padding-top: 179px;
        padding-bottom: 140px;
    }
    .token__title {
        font-size: 40px;
    }
    .token__main {
        font-size: 30px;
    }
}
@media (max-width: 479.98px) {
    .token__title {
        font-size: 30px;
    }
    .token__main {
        font-size: 20px;
    }
    .main-token__02 {
        height: 150px;
        padding: 50px 20px 50px 20px;
    }
}
/*token end*/

/*bonus start*/
.bonus {
    padding-bottom: 100px;
}
.bonus__container {
}
.bonus__content {
    text-align: center;
    height: 391px;
    padding: 105px 70px;
    border-radius: 32px;
    background: linear-gradient(263deg, #1E0810 0%, #D11358 100%);
}
.bonus__header {
}
.bonus__title {
    color: #FFF;
    font-size: 50px;
    font-weight: 700;
    letter-spacing: 0.5px;
}
.bonus__title:not(:last-child) {
    margin-bottom: 40px;
}
.bonus__text {
    color: rgba(255, 255, 255, 0.80);
    font-size: 35px;
    font-weight: 600;
    letter-spacing: 0.35px;
}
@media (max-width: 991.98px) {
    .bonus__title {
        font-size: 40px;
    }
    .bonus__text {
        font-size: 30px;
    }
}
@media (max-width: 767.98px) {
    .bonus__content {
        padding: 60px 50px;
    }
    .bonus__title {
        font-size: 30px;
    }
    .bonus__text {
        font-size: 30px;
    }
}
/*bonus end*/